@charset "utf-8";

@import "~x-ng-libs/assets/variables";

$red: #d54834;
$green: #8dcf47;
$blue: #7dbdfb;
$blue-dark: #09f;
$blue-lightest: #dee5ef;
$blue-darkest: #102538;
$blue-gray: #6686a4;
$orange: #f19f35;
$orange-secondary: #ff9330;
$orange-dark: #f60;
$orange-darker: #e66f05;
$yellow: #ffd800;
$yellow-secondary: #ffa826;
$gray-base: $gray; // #555
$gray-dark: $gray-dark; // #333
$gray-light: $gray-light; // #777
$gray-lightest-d: #dbd9da;
$gray-lightest-e8: #e8e8e8;
$gray-lightest-f2: $white-gray-dark;
$gray-lightest-fa: $white-gray;
