<div id="console-organization-edit">

  <mat-tab-group #tabGroup (selectedTabChange)="onSelectedTabChange($event)">
    <mat-tab label="基本信息">
      <app-organization-edit [id]="id" (orgUpdated)="onOrgUpdate($event)"></app-organization-edit>
    </mat-tab>
    <mat-tab *ngIf="id" label="账号信息">
      <app-organization-user [id]="id" [tabChange]="tabChange"></app-organization-user>
    </mat-tab>
    <!-- <mat-tab *ngIf="id" label="成果记录">
      <app-organization-result-list [id]="id"></app-organization-result-list>
    </mat-tab> -->
  </mat-tab-group>

</div>
